*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
header {
    width: 60%;
    background-color: lightsteelblue;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navigation li a{
    margin: 5px 30px;
    text-decoration: none;
    list-style: none;
    color: lightsteelblue;

}

.name_and_photo {
    width: 100%;
    display: flex;
    justify-content: center;

}
#Photo {
    width: 29%;
    margin: 10px;
    height: 220px;
    text-align: center;
    padding-top: 6px;
}

.phone_number, .discord, .email {
    width: 25px;

}
#Photo img {
    border: 2px solid white;
    border-radius: 30%;
}
.my_name {
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 220px;

}


h1, h2, h3 {
    
    margin-bottom: 10px;
}

.code__code_example {
    background-color: lightsteelblue;


}

h4 {
    margin-bottom: 5px;

}

.contacts {

    height: 200px;
    flex-grow: 1;

}



nav {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
   
}
main {
    display: flex;
    width: 60%;
    background-color: lightsteelblue;
    justify-content: center;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about, .skills, .code, .portfolio, .education {
    width: 60%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about h3 {
    justify-content: center;
}
.skills {
    display: flex;


}
.skills ul {
    display: flex;
    justify-content: center;
}
.skills li {
    list-style: square;
    margin-left: 30px;
}

.code {
    background-color: rgb(204, 217, 235);
}

footer {
    width: 60%;
    height: 200px;
    background-color: lightsteelblue;
    border: 3px solid black;
}

.rsschool-logo {
    width: 100px;
}
.links {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    

}

.links li {
    height: 100px;
    margin: 100px 30px ;
}
li {
    text-decoration: none;
    list-style: none;
}

.comments {
    color: darkgreen;
}

.var {
    color: darkblue;
}

.varname {
    color: rgb(61, 61, 138);
}
.method {
    color: rgb(155, 146, 30);
}
.circle {
    color: blueviolet;
}















@media screen and (max-width: 1835px) {
    .my_name {
        font-size: small;
    }
}

@media screen and (max-width: 1700px) {
    .my_name {
        font-size: small;
        width: 290px;
    }
}


@media screen and (max-width: 1360px) {
    .my_name {
        font-size: 10px;

    }
    #Photo img {
        width: 150px;
        height: 150px;
        
    }
    .name_and_photo {

    }
    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: black;
    }

    .navigation li a {
        color: black;
        font-size: 5px;
        margin: 5px 0;

    }       
  
}
@media screen and (max-width: 820px) {
    .my_name {
        font-size: 10px;
        width: 290px;
    }
    .about {
        font-size: small;
        width: 90%;
    }
    h3 {
        font-size: small;
        text-align: center;
    }
    .skills {
        display: block;
        width: 90%;
    }
    .skills ul {
        display: flex;
        justify-content: center;
    }
    .skills ul li {
        font-size: small;

    }
    .code {
        font-size: 8px;
        width: 90%;
    }
    .code h3 {
        padding-bottom: 10px;
    }
    .portfolio {
        font-size: small;
        width: 90%;
    }
    .education {
        font-size: small;
        width: 90%;
    }
    
    .links {
        font-size: small;
        width: 90%;
    }
}
@media screen and (max-width: 770px) {
    header, main, footer {
        width: 80%;
    }
}
@media screen and (max-width: 670px) {
    header, main, footer {
        width: 85%;
    }
}
@media screen and (max-width: 570px) {
    header, main, footer {
        width: 90%;
    }
}

@media screen and (max-width: 570px) {
    header, main, footer {
        width: 95%;
    }
}

@media screen and (max-width: 420px) {

    header, main, footer {
        width: 98%;
    }
    h1 {
        font-size: 15px;
    }
    .name_and_photo {
        flex-direction: column;
        align-items: center;
    }
    #Photo {
        height: auto;
    }
    #Photo img {
        width: 80px;
        height: 80px;
    }
    .my_name {
        height: 150px;
    }
    .my_name h2 {
        font-size: small;
    }
}